{% extends "header.html" %}

{% block body %}
    {% if (ERROR != None):%}
        <div class="alert alert-danger" role="alert"> {{ERROR}} </div>
    {% endif %}
    {% if (INFO != None):%}
        <div class="alert alert-info" role="alert"> {{INFO}} </div>
    {% endif %}


    <div style="margin: 75px 100px; padding: 25px 50px;">
        <form action="/add_new_course_handler/" method="POST">
            <div class="page-header">
                <h1> Enter data </h1>
            </div>

            <div class="input-group" style="margin-bottom: 15px;">
                <span class="input-group-addon" id="basic-addon1"> Title </span>
                <input name="title" type="text" class="form-control" placeholder="Title" aria-describedby="basic-addon1">
            </div>
            <div class="input-group" style="margin-bottom: 15px;">
                <span class="input-group-addon" id="basic-addon1"> Description </span>
                <input name="description" type="text" class="form-control" placeholder="Description" aria-describedby="basic-addon1">
            </div>
            <div class="input-group" style="margin-bottom: 15px;">
                <span class="input-group-addon" id="basic-addon1"> Thumbnail URL </span>
                <input name="image_url" type="text" class="form-control"
                       placeholder="example.com/picture.png"
                       aria-describedby="basic-addon1">
            </div>

            <button style="margin-left: 960px; width: 100px;" type="submit" class="btn btn-primary"> Create </button>
        </form>
    </div>

{% endblock %}