{% extends "header.html" %}

{% block body %}
    <div style="padding: 20px;">
        <div class="row">
            {% for subject in SUBJECTS%}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ subject[3] }}" style="height: 250px;">
                    <div class="caption">
                        <h3> {{ subject[1] }} </h3>
                        <p> {{ subject[2] }} </p>
                        <!--
                        <p>
                            <a href="#" class="btn btn-primary" role="button"> Show </a>
                        </p>
                        -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}