<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home page</title>
         <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/img/salary-packaging.png" rel="shortcut icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript"
                src="../static/js/bootstrap.min.js"></script>

    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="http://x-lines.ru/letters/i/cyrillicscript/0913/0a2a71/20/0/ei18kidxp7sy.png"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" style="margin-left:80%;">
                        <li><a href="/login/">Log in <span class="sr-only">(current)</span></a></li>
                        <li class="active"><a href="/signup/">Sign up</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        {% block body %}{% endblock %}

    </body>
</html>