{% extends "header.html" %}

{% block body %}
    <div style="margin: 75px 400px; padding: 25px 50px;">
        <form action="/user_auth/" method="POST">
            <div class="page-header">
                <h1> Log in and get it all! </h1>
            </div>

            <div class="input-group" style="margin-bottom: 15px;">
                <span class="input-group-addon" id="basic-addon1"> Email </span>
                <input name="user_email" type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"> Password </span>
                <input name="user_password" type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
            </div>

            <button style="margin-top: 25px; margin-left: 360px; width: 100px;"
                    type="submit" class="btn btn-primary">Log in</button>
            </form>
    </div>

{% endblock %}