{% extends "header.html" %}

{% block body %}
    <div style="padding: 20px;">

        {% for subject in SUBJECTS%}
        <div class="row" style="width: 900px;">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ subject[3] }}" width="242" height="200">
                    <div class="caption">
                        <h3> {{ subject[1] }} </h3>
                        <p> {{ subject[2] }} </p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button"> Show </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="row" style="width: 900px;">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="../static/img/thumbnail.png" width="242" height="200">
                    <div class="caption">
                        <h3> New course </h3>
                        <p>
                            <a href="/add_new_course/" class="btn btn-primary" role="button">Add</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}