{% extends "header.html" %}

{% block body %}

    <div style="padding: 0 75px;">
        <div class="page-header">
            <h1>
                Your personal information
            </h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Email
                </h3>
            </div>
            <div class="panel-body">
                {{ USER[1] }}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Password
                </h3>
            </div>
            <div class="panel-body">
                {{ USER[2] }}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Full Name
                </h3>
            </div>
            <div class="panel-body">
                {{ USER[3] + " " + USER[4] }}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Rights
                </h3>
            </div>
            <div class="panel-body">
                {{ USER[5] }}
            </div>
        </div>
    </div>

{% endblock %}